{<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Email</label>
  {{input id='identification' value=identification}}
  <label for="password">Password</l abel>
  {{input id='password' value=password}}
  <button type="submit">Login</button>
</form>
